.btn-login-register {
    background-color: #3f9328;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.btn-login-register:hover {
    background-color: #2f6c1e;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 10px;
    /*padding: 10px 20px;*/
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;}