.main-content{
    display: flex;
    /*align-items: baseline;*/
    min-height: 100vh;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 80px;
    /*border: 10px solid white;*/
    flex-direction: column;
    gap: 30px;
}

