.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6dca51;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 10px;
}

.navbar h1 {
    margin: 0;
}

.navbar-buttons {
    display: flex;
    margin-right: 30px;
    gap: 5px;
}

.navbar-btn {
    background-color: rgba(63, 147, 40, 0);
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 3px;
    margin-left: 3px;
}

.navbar-btn:hover {
    color: #e3e3e3;
}

.navbar-btn:focus:not(:focus-visible) {
    outline: none;
}
