name: CI/CD Pipeline

on:
  push:
    branches: [dev, main]
  pull_request:
    branches: [dev, main]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run tests
        run: docker compose -f docker-compose.test.yaml up --build --abort-on-container-exit --exit-code-from backend

      - name: Clean up
        if: always()
        run: docker compose -f docker-compose.test.yaml down -v

  deploy:
    needs: tests
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan glebnesyutin.fvds.ru >> ~/.ssh/known_hosts

      - name: Deploy with rsync
        run: |
          rsync -avz ./ deployer@glebnesyutin.fvds.ru:/home/deployer/FindMyTeam

      - name: Restart container
        run: |
          ssh deployer@glebnesyutin.fvds.ru "cd /home/deployer/FindMyTeam && docker compose down && docker compose -f docker-compose.yaml -f docker-compose.prod.yaml up --build -d"
